.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 100px;
    height: 100vh;
    width: 100vw;
    background: var(--primary-color);
    color: var(--secondary-color);
}

.skills-title {
    font-size: 3rem;
    margin-bottom: 30px;
}

.skills-container {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-circle {
    position: relative;
    width: 150px;
    height: 150px;
}

.progress-ring {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.progress-ring__circle {
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.skill-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--secondary-color);
}

.skill-text h2 {
    font-size: 1.5rem;
    margin: 0;
}

.skill-text p {
    font-size: 1rem;
    margin: 0;
}
