.contact {
    padding: 30px 80px;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background: var(--teriary-color) var(--contact-image) no-repeat center;
}

.contactLeftContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.contactText {
    font-size: small;
    color: var(--secondary-color);
    text-align: center;
    z-index: 1;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mail {
    font-size: 60px;
    color: var(--secondary-color);
    font-weight: 600;
    cursor: pointer;
}

.copyEmailButton {
    background: var(--secondary-opacity-color);
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    color: var(--primary-color);
    font-size: x-small;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.copyEmailButton:hover {
    background: var(--secondary-color);
}

.cv {
    color: var(--secondary-color);
    text-decoration: none;
}

.cv:hover {
    text-decoration: underline;
    text-underline-offset: 7px;
}

.heroLinkContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.heroLinkBox {
    min-width: 250px;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: 1.5px dashed gray;
    transition: transform 0.2s ease-in-out;
}

#heroLinkBox1:hover {
    transform: scale(1.05) translateY(-5px) translateX(-5px);
}

#heroLinkBox2:hover {
    transform: scale(1.05) translateY(-5px) translateX(5px);
}

#heroLinkBox3:hover {
    transform: scale(1.05) translateY(5px) translateX(-5px);
}

#heroLinkBox4:hover {
    transform: scale(1.05) translateY(5px) translateX(5px);
}

.arrowIcon {
    color: gray;
    transition: transform 0.2s ease-in-out;
}

.heroLinkBox:hover .arrowIcon {
    transform: rotate(45deg);
}

.contactLinkText {
    font-size: large;
    color: var(--secondary-color);
}

.contactrightContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contactInput {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    width: 100%;
    background: transparent;
    color: var(--secondary-color);
    font-size: small;
    font-weight: 300;
    transition: 0.2s ease-in-out;
}

.contactInput::placeholder {
    color: var(--secondary-color);
    opacity: 0.7;
}

.contactInput:focus {
    outline: 1px solid var(--active-color);
    border: 1px solid var(--active-color);
}

.contactButton {
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    background: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    font-size: small;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.contactButton:hover {
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .contact {
        padding: 20px;
        gap: 40px;
        flex-direction: column;
    }

    .heroLinkBox {
        background: var(--secondary-color);
        border: 1px solid var(--secondary-color);
    }

    .heroLinkIcon {
        color: var(--primary-color);
    }

    .mail {
        font-size: x-large;
    }

    .contactText {
        font-size: small;
        text-align: start;
    }

    #contactText {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .cv {
        text-decoration: underline;
        text-underline-offset: 7px;
    }
}
