.navbar {
    overflow: hidden;
    padding: 12px 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--secondary-color);
    background: var(--navbar-background);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);
}

.navLinkContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.navLink {
    text-decoration: none;
    font-size: small;
    letter-spacing: 1px;
}

.navLink.active {
    color: var(--active-color);
}

@media (max-width: 768px) {
    .navbar {
        padding: 10px 30px;
    }

    .navLinkContainer {
        gap: 30px;
    }
}
